---
import { LAMBDA_URL } from "@consts";

const response = await fetch(LAMBDA_URL);
const data = await response.json();
---

<div id="views" class="font-medium text-black dark:text-white">
  Views: {data.view || "n/a"}
</div>
