---
export interface Props {
  lambdaUrl: string;
}

const { lambdaUrl } = Astro.props;
---

<div id="views" class="font-medium text-black dark:text-white">Views: N/A</div>
<script define:vars={{ lambdaUrl }}>
  const views = document.querySelector("#views");

  async function updateCounter() {
    if (!views) {
      console.error("Element not found");
      return;
    }
    try {
      const response = await fetch(lambdaUrl);
      let data = await response.json();
      views.innerHTML = `Views: ${data.view}`;
    } catch (error) {
      console.error("Error updating view counter", error);
    }
  }

  updateCounter();
</script>
