---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Cloud Resume Challenge - Giorgio Delle Grottaglie";
---

<Layout pageTitle={pageTitle}>
  <main>
    <h2>{pageTitle}</h2>
    <p><b>Why this page</b></p>
    <p>TBD</p>
  </main>
</Layout>
